html{
    background-color: black;
    font-family: "Trebuchet MS";
    color: gray;
}

table, th, td {
    border: 5pt solid;
    border-color: black;
    color: whitesmoke;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  tr{
      padding: 5pt;
  }
  th{
      padding: 5pt;
  }
  td{
      background-color: #1a1a1a;
  }


.Tier{
    font-size: large;
    border-radius: 3px;
    padding: 10px; 
    width: 50px;
    height: 50px;  
}


.TierS{
    background: #ff757b;
}
.TierA{
    background: #ffbc73;
}
.TierB{
    background: #ffff67;
}
.TierC{
    background: #35ff6c;
}
.TierD{
    background: #6ac1ff;
}
.TierE{
    background: #7f7fff;
}
.TierF{
    background: #ff75ff;
}

.TierLetter{
    color: black;
}

.HarshWarning{
    color: whitesmoke;
}

.Unrated{
    color: gray
}

ul {
    list-style-type: circle;
}
ul li::before {
    color: gray;
}

.vanish{
    font-size: 11pt;
    background-color: lightsteelblue;
    padding: 10pt;
    border: none;
}
