html {
    background-color: lightgray;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
   flex-flow: column;
    /* align-items: stretch; */
}

#myCanvas {
    /* width: 100%; */
    /* height: 92%; */
    /* top: 0px; */
    background-color: whitesmoke;
    flex-grow: 1;
}

.navbar {
    /* text-align: center; */
}

.button-2 {
    background-color: rgba(24, 22, 22, 0.5);
    border-radius: 8px;
    border-width: 0;
    color: whitesmoke;
    cursor: pointer;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 20px;
    margin: 10pt;
    padding: 10px 12px;
    text-align: center;
}